body{
  background-color: white;
}
canvas{
  backdrop-filter#FFB7CF;
  box-shadow: 0 0 10px #FFB7CF;
  border-radius: 12px;
  
}
button{
  margin: 5px 15px;
  width: 30%;
  font-size: 1.5em;
  box-shadow: 0 0 10px #FFB7CF;
  outline: none;
  border: 1px double #FFB7CF;
}