body{
  background-color: gray;
}
canvas{
  backdrop-filter: #323232;
  box-shadow: 0 0 10px black;
  
}
button{
  margin: auto;
  width: 30%;
  font-size: 1.5em;
  box-shadow: 0 0 10px black;
  margin-top: 5px;
  outline: none;
}